/* LESS Document */
html,
body {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #444;
  background: #444 url('../images/body-bg.jpg') repeat-x left top;
}
:hover,
:focus {
  transition: all ease-in 0.3s;
  -webkit-transition: all ease-in 0.3s;
}
/*----------------------------
	Heading Group
----------------------------*/
h1,
.h1 {
  font-size: 36px;
  font-weight: 700;
}
h2,
.h2 {
  font-size: 30px;
  font-weight: 700;
}
h3,
.h3 {
  font-size: 24px;
  font-weight: 700;
}
h4,
.h4 {
  font-size: 18px;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 12px;
}
/*----------------------------------
	Background Overlay
----------------------------------*/
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
}
/*----------------------------------
    Custom Margin & Padding
-----------------------------------*/
.mar_zero_btm {
  margin-bottom: 0;
}
.pad_zero {
  padding: 0;
}
/*----------------------------------
	Bootstrap overright
---------------------------------*/
.carousel {
  height: 100%;
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.carousel .item.fee-payment {
  background: url('../images/fee-payment.jpg') no-repeat 0 0;
  background-size: cover;
}
.carousel .item.library {
  background: url('../images/library.jpg') no-repeat 0 0;
  background-size: cover;
}
.carousel .item.management {
  background: url('../images/smooth-management.jpg') no-repeat 0 0;
  background-size: cover;
}
/*--------------------------------
				Buttons 
		--------------------------------*/
.btn {
  border: 0;
  height: 39px;
}
.btn-primary {
  background: linear-gradient(180deg, #006da0, #004c70);
}
.btn-primary:hover {
  background: linear-gradient(180deg, #004c70, #006da0);
}
.btn-warning {
  background: linear-gradient(180deg, #a04000, #bb6304);
}
.btn-warning:hover {
  background: linear-gradient(180deg, #bb6304, #a04000);
}
a.navbar-brand {
  padding-left: 0;
  color: #fff;
}
.dropdown-menu {
  min-width: 200px;
  border-radius: 3px;
  border-bottom: 2px solid #0295de;
}
.dropdown-menu :before {
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  top: -15px;
  right: 10px;
  left: 0;
}
/*--------------------------------------
							Well
		---------------------------------------*/
.well {
  padding: 15px;
  background: transparent;
  border-radius: 3px;
}
.well h3 {
  margin-top: 0;
}
.well .progress {
  margin-bottom: 10px;
  height: 10px;
  border-radius: 0;
}
.well p:last-child {
  margin-bottom: 0;
}
/*---------------------------------------
						Breadcrumb
		----------------------------------------*/
.breadcrumb {
  padding: 0;
  background: none;
}
/*------------------------------
	Forms 
-------------------------------*/
label {
  font-size: 13px;
  color: #444;
  font-weight: 400;
  margin-bottom: 7px;
}
.form-group {
  margin-bottom: 30px;
}
.form-horizontal .control-label {
  text-align: left;
}
.form-control {
  height: 39px;
  border-radius: 3px;
  font-size: 13px;
  color: #444;
}
.form-control:focus {
  box-shadow: 0 0;
  -webkit-box-shadow: 0 0;
  border-color: #9A9A9A;
}
.input-group-addon {
  font-size: 18px;
}
/*--------------------------
	Login Wrapper
-------------------------*/
.login {
  position: absolute;
  z-index: 10;
  margin-top: 10%;
}
.login h4 {
  color: #fff;
  margin-bottom: 15px;
}
.login .login-wrapper {
  background: rgba(19, 19, 19, 0.5);
  padding: 15px;
  width: 100%;
}
.login .login-wrapper a {
  color: #fff;
}
.login .login-wrapper label {
  font-size: 14px;
  color: #cecece;
}
/*----------------------------
	Dashboard 
---------------------------*/
.icons div {
  float: left;
}
.icons .dropdown > a {
  display: block;
  line-height: 60px;
  width: 40px;
  text-align: center;
  float: left;
  color: #fff;
}
.main-container.container-fluid {
  padding-left: 0;
  height: calc(89%);
}
.content-area {
  background: #fff;
  border-radius: 3px;
  padding: 15px;
  height: 100%;
  overflow: auto;
}
.panel-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #bababa;
  padding-bottom: 15px;
}
.panel-header h4 {
  margin-top: 0;
}
/*--------------------------
	Sidebar
---------------------------*/
aside {
  height: 100%;
}
aside .sidebar {
  background: linear-gradient(180deg, #000, #2b2b2b);
  height: calc(100% - 100px);
  margin-top: 100px;
}
aside .sidebar .nav-heading {
  height: 50px;
  background: #363636;
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
}
aside .sidebar .navbar {
  border: 0;
}
aside .sidebar .navbar .navbar-collapse {
  padding: 0;
}
aside .sidebar .navbar ul {
  width: 100%;
}
aside .sidebar .navbar ul.nav li {
  width: 100%;
  border-bottom: 1px solid #444;
}
aside .sidebar .navbar ul.nav li a {
  color: #fff;
}
aside .sidebar .navbar ul.nav li a:hover,
aside .sidebar .navbar ul.nav li a:focus,
aside .sidebar .navbar ul.nav li a:visited {
  background: linear-gradient(180deg, #a04000, #bb6304);
}
aside .sidebar .navbar ul.nav li.dropdown.open > a {
  background: linear-gradient(180deg, #a04000, #bb6304);
  color: #fff;
}
aside .sidebar .navbar ul.nav li.dropdown.open > a:hover,
aside .sidebar .navbar ul.nav li.dropdown.open > a:focus {
  background: linear-gradient(180deg, #a04000, #bb6304);
  color: #fff;
}
aside .sidebar .navbar .dropdown-menu {
  position: relative;
  border: none;
  background: transparent;
  padding: 0 0 0 15px;
}
aside .sidebar .navbar .dropdown-menu:before {
  border-width: 0;
  border-color: transparent;
  content: none;
  right: 0;
}
aside .sidebar .navbar .dropdown-menu li {
  position: relative;
}
aside .sidebar .navbar .dropdown-menu li:last-child {
  border: none;
}
aside .sidebar .navbar .dropdown-menu li:before {
  border-width: 1px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  border-left-color: #444;
  border-right: none;
  border-top: none;
  border-bottom: none;
  right: 0;
}
aside .sidebar .navbar .dropdown-menu li > a {
  padding: 15px;
}
aside .sidebar .navbar .dropdown-menu li > a:hover {
  background: none !important;
  color: #eb7900;
}
aside .sidebar .navbar .dropdown-menu li > a:before {
  content: "\f192";
  font-family: 'FontAwesome';
  position: absolute;
  border-width: 0;
  left: -6px;
  top: 14px;
}
aside .sidebar .navbar .dropdown-menu li > a.active {
  color: #eb7900;
}
aside .sidebar .navbar .dropdown-menu li > a.active:before {
  content: "\f192";
  font-family: 'FontAwesome';
  position: absolute;
  border-width: 0;
  left: -6px;
  top: 14px;
}
/*--------------------------
		Mobile & Tablet
	---------------------------*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /*-----------------------
			Mobile Margin
		----------------------*/
  .mar-xs-bottom-15 {
    margin-bottom: 15px;
  }
  /*--------------------------------------
		Mobile Heading Font size
	--------------------------------------*/
  h1,
  .h1 {
    font-size: 30px;
  }
}
